.header {
    position: 'absolute';
    top: 0px;
}

.header__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.buttons__container {
    display: flex;
}

.header__button {
    height: 61px;
    width: 96px;
    border-radius: 8px;
    background-color: white;
    margin: 0 10px;
    box-shadow: none;
    border: none;
}

.header__button:hover {
    background-color:  rgba(0, 0, 0, 0.04);
}
